body {
  background-image: url(../img/background.png);
  font-family: sans-serif;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-image: url(../img/bannerbg.png);
}

.banner img {
  height: 50px;
}

body > h1 {
  margin-top: 50px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.container {
  width: 50%;
  margin: auto;
  border: 3px solid #6b776b;
  border-radius: 30px;
  position: relative;
  z-index: -100;
}

.container aside {
  width: 30%;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  background: #5ca85c;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

.container aside img {
  width: 100%;
  border-top-right-radius: 28px;
}

.container dl {
  padding: 10px;
  color: #424e49;
}

.container aside dt {
  font-weight: bold;
}

.container aside dd {
  margin-bottom: 15px;
}

aside dl ul {
  list-style-type: none;
  display: initial;
}

.container section {
  width: 70%;
}

.container > section .header {
  background-image: url(../img/rbg.png);
  border-top-left-radius: 28px;
  height: 85px;
  color: red;
  font-size: 60px;
  font-weight: bold;
}

section .header img {
  border-top-left-radius: 28px;
  height: 85px;
  margin-right: 10px;
}

section .header * {
  float: left;
}

section .content {
  column-count: 2;
  column-gap: 10px;
  padding: 10px;
}

.content .cols {
  height: 1000px; /* not the best design idea :D*/
}

.content .review > :nth-child(1) {
  border: 2px solid #6b776b;
  border-radius: 5px;
  padding: 5px;
}

.content .review img {
  float: left;
  margin-right: 5px;
}

.content .review > p:nth-child(2) {
  color: #424e49;
}

.container > p:last-child {
  background: #5ca85c;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-align: center;
  color: #424e49;
}

.w3c-validators {
  position: fixed;
  right: 0;
  bottom: 0;
}
