body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-row: inherit;
}

header {
  background: #6cbbe9;
  text-align: center;
}

nav {
  background: #364955;
}

nav .menus {
  display: flex;
}

.menus .menu-item {
  padding: 10px;
  width: 150px;
  text-align: center;
  border-right: 1px solid #000;
}

section.content {
  display: flex;
  flex-wrap: wrap;
}

.content .column {
  height: 200px;
  background: grey;
  min-width: 150px;
  padding: 10px;
}

.content .column.col-2 {
  flex: 2;
  background: #a49f9f;
}

.content .column.col-3 {
  background: #c1b9b9;
  flex: 1;
}

.content .column.col-1 {
  flex: 1;
}

footer {
  background: #3f464b;
  color: #fff;
  text-align: center;
}

/* style for screen sizes less than 600px */

@media screen and (max-width: 600px) {
  .content .column.col-1 {
    order: 1;
  }

  .content .column.col-2 {
    order: 3;
    min-width: 300px;
  }

  .content .column.col-3 {
    order: 1;
  }
}
