.btns {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: grid;
  row-gap: 5px;
}

.btns #start-btn {
  background: #0e582c;
  color: #fff;
  width: 50px;
  padding: 5px;
}

.container {
  position: relative;
  width: 100%;
  top:20em;
}